<table>
  <thead>
  <th scope="col">id</th>
  <th scope="col">imie</th>
  <th scope="col">nazwisko</th>
  <th scope="col">pesel</th>
  <th scope="col">data rejestracji</th>
  </thead>
  <tbody>
  <tr>
    <td scope="col">id</td>
    <td scope="col">imie</td>
    <td scope="col">nazwisko</td>
    <td scope="col">pesel</td>
    <td scope="col">data rejestracji</td>
  </tr>
  <tr>
    <td scope="col">id</td>
    <td scope="col">imie</td>
    <td scope="col">nazwisko</td>
    <td scope="col">pesel</td>
    <td scope="col">data rejestracji</td>
  </tr>

  </tbody>
</table>
