<div class="header">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJgI924yn5nQ7lpaxVqeix2UsCBwa-t-7UILjXjp_1cT6XkRVcTw"/>
</div>
<div class="nav">
  <ul class="nav-bar">
    <li id="pacjenci" (click)="setContext('pacjenci')">pacjenci</li>
    <li id="pracownicy" (click)="setContext('pracownicy')">pracownicy</li>
    <li id="recepty" (click)="setContext('recepty')">recepty</li>
    <li id="wizyty" (click)="setContext('wizyty')">wizyty</li>
    <li id="uslugi" (click)="setContext('uslugi')">usługi</li>
    <li id="wolneTerminy" (click)="setContext('terminy')">wolne Terminy</li>
  </ul>
</div>
<div>
  <table id="table">
    <thead id="header">
    </thead>
    <tbody id="body">
    </tbody>
  </table>
</div>
